body {
  font-family: Poppins, sans-serif;
  margin: 0 100px 0 100px;
}
@media (max-width: 768px) {
  body {
    margin: 20px;
  }
}

$secondary: #b6845e;
$tertiary: #cd8d34;

.btn-secondary {
  background-color: $secondary;
  border-color: $secondary;
}

.btn-secondary:hover,
.btn:active:focus,
.btn:focus-visible {
  background-color: $tertiary;
  border-color: $tertiary;
}

.media-gallery img, .card img {
  width: 100%;
  object-fit: cover;
  height: 400px;
}

.profile-image {
  width: 260px;
  height: 260px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  row-gap: 10px;
}

#my-listings-container {
  cursor: pointer;
}

.modal {
    font-size: 1rem;
    cursor: pointer;
    background-color: rgba(99, 99, 99, 0.492);
}

.modal-backdrop {
    background: rgba(139, 139, 139, 0.389);
}

.modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
}

.modal-header .close {
    font-size: 1.5rem;
    cursor: pointer;
}

.modal-content {
    border-radius: 10px;
    padding: 20px;
}

.modal-body {
    padding: 20px;
}

.modal-footer {
    border-top: none;
    justify-content: flex-end;
}

.modal-header {
    border-bottom: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

